<div>
    
    <div class="globalAudioPlayerTab">

        <div class="row">
            <div class="small-12 columns">
                <div class="flexParent">
                    <span class="text-micro">
                        Player Icon
                    </span> 
                </div>
            </div>
        </div>
    </div>

    <div class="globalAudioPlayer">
        
        <div class="row">

            <div class="small-12 columns">

                <div class="flexParent">
                    
                    <div class="globalAudioPlayer-controls ">
                        
                        <!--         <button  class="[ audioPlayer-button prev ] "  class="show-for-medium-up">
                        
                            <svg viewBox="0 0 144 144" 
                                 preserveAspectRatio="xMidYMid meet"  
                                 title="Play previous track" 
                                 class="seeker icon--controls">
                        
                                <use xlink:href="assets/images/icon--controls.svg#prev-icon"></use>
                        
                            </svg>
                        
                        </button> -->
                        
                        <button class="audioPlayer-button "
                                 ng-class="globalAudioPlayer.isPlaying ? 'play' : 'pause'">
                            
                            <svg viewBox="0 0 144 144" 
                                 preserveAspectRatio="xMidYMid meet"  
                                 title="Play Music" 
                                 class="play  icon--controls icon--small">
                        
                                <use xlink:href="assets/images/icon--controls.svg#pause-icon"></use>
                        
                            </svg>
                        
                            <svg viewBox="0 0 144 144" 
                                 preserveAspectRatio="xMidYMid meet"  
                                 title="Pause Music" 
                                 class="pause  icon--controls  icon--small">
                        
                                <use xlink:href="assets/images/icon--controls.svg#play-icon"></use>
                        
                            </svg>
                        
                        
                        </button>
                        
                        <!-- 
                        <button class="[ audioPlayer-button next ] "  class="show-for-medium-up">
                        
                            <svg viewBox="0 0 144 144" 
                                 preserveAspectRatio="xMidYMid meet"  
                                 title="Play next track" 
                                 class="seeker  icon--controls">
                        
                                <use xlink:href="assets/images/icon--controls.svg#next-icon"></use>
                        
                            </svg>     
                        
                        </button> -->
                        
                    </div>
                        
                    <div class="globalAudioPlayer-information  flexGrow--1  text-left"  >
                            
                       <h1 class="h5">{{globalAudioPlayer.currentSong|| 'Play Music'}}</h1>
                
                       <h2 class="text--micro">via <a ng-href="{{globalAudioPlayer.currentSong.link}}">Soundcloud</a> / <a href=""> Buy</a></h2>
                        
                    </div>
                
                </div>

            </div>

        </div>
    
    </div>
    
    
    <div class="globalAudioPlayer-playlists">
    
        <nav>
            
            <ul class="row">
                
                <li class="small-6  columns  text-center">
    
                    <h1 class="h6">
                    
                        Playlists
                        
                    </h1>
    
                </li>
    
                <li class="small-6  columns  text-center">
    
                    <h1 class="h6">
                    
                        Catalogue
                        
                    </h1>
    
                </li>
    
            </ul>
    
        </nav>
        
        <div class="row">
    
            <h1 class="text--micro">
                    
                 Currently Playing
                        
            </h1>    
    
            <div class="small-12 columns" ng-repeat="song in globalAudioPlayer.tracks track by $index">
                
                <h2 class="h6" ng-click="globalAudioPlayer.playSong($index)">{{song.name}}{{$index}}</h2>
    
            </div>
    
        </div>
    
        <div class="globalAudioPlayer-playlists-catalogue">
            
            <div class="row">
    
                <h1 class="text--micro">
                
                    Catalogue
                    
                </h1>    
    
                <div class="small-6 columns" ng-repeat="release in globalAudioPlayer.catalogue">
                    
                    <img ng-src="{{release.artwork}}" alt="Release Artwork" width="50">
    
                    <h2 class="text-micro">{{release.name}}</h2>
    
                </div>
    
            </div>
    
        </div>
    
    </div>
</div>