<div>
    
    <div class="globalAudioPlayerTab">

        <div class="row">
            <div class="small-12 columns">
                <div class="flexParent">
                    <span class="text-micro">
                        Player Icon
                    </span> 
                </div>
            </div>
        </div>
    </div>

    <div class="globalAudioPlayer"
         ng-class="globalAudioPlayer.playerDrawerIsOpen ? 'is-showing' : 'is-hidden'">
        
        <div class="row">

            <div class="small-12 columns">

                <div class="flexParent">
                    
                    <div class="globalAudioPlayer-controls  ">
                        
                                <button  class="[ audioPlayer-button prev ] "  class="show-for-medium-up">
                        
                            <svg viewBox="0 0 144 144" 
                                 preserveAspectRatio="xMidYMid meet"  
                                 title="Play previous track" 
                                 class="seeker icon--controls  icon--small">
                        
                                <use xlink:href="assets/images/icon--controls.svg#prev-icon"></use>
                        
                            </svg>
                        
                        </button>
                        
                        <button class="audioPlayer-button "
                                 ng-class="globalAudioPlayer.isPlaying ? 'play' : 'pause'">
                            
                            <svg viewBox="0 0 144 144" 
                                 preserveAspectRatio="xMidYMid meet"  
                                 title="Play Music" 
                                 class="play  icon--controls icon--small">
                        
                                <use xlink:href="assets/images/icon--controls.svg#pause-icon"></use>
                        
                            </svg>
                        
                            <svg viewBox="0 0 144 144" 
                                 preserveAspectRatio="xMidYMid meet"  
                                 title="Pause Music" 
                                 class="pause  icon--controls  icon--small">
                        
                                <use xlink:href="assets/images/icon--controls.svg#play-icon"></use>
                        
                            </svg>
                        
                        
                        </button>
                        
                        
                        <button class="[ audioPlayer-button next ] "  class="show-for-medium-up">
                        
                            <svg viewBox="0 0 144 144" 
                                 preserveAspectRatio="xMidYMid meet"  
                                 title="Play next track" 
                                 class="seeker  icon--controls">
                        
                                <use xlink:href="assets/images/icon--controls.svg#next-icon"></use>
                        
                            </svg>     
                        
                        </button>
                        
                    </div>
                        
                    <div class="globalAudioPlayer-information  flexGrow--1  text-left"  >
                            
                       <h1 class="h5   mb0">{{globalAudioPlayer.currentSong|| 'Play Music'}}</h1>
                
                       <h2 class="text--micro mt0">via <a ng-href="{{globalAudioPlayer.currentSong.link}}">Soundcloud</a> / <a href=""> Buy</a></h2>
                        
                    </div>

                    <div class="globalAudioPlayer-secondaryinformation  flexGrow--1">
    
                        <a ng-click="globalAudioPlayer.openDrawer()"
                           class="button button--secondary small display--block  mt2  text-center">
                            
                            playlists 

                        </a>

                    </div>
                
                </div>

            </div>

        </div>
    
    </div>
    
    
    <div class="globalAudioPlayer-playlists row  large-9  columns"
         ng-class="globalAudioPlayer.playerDrawerIsOpen ? 'is-showing' : 'is-hidden'">
    
        <nav>
            
            <ul class="row">
                
                <li class="small-6  columns  text-center">
    
                    <h1 class="h6"  ng-click="globalAudioPlayer.showTab(0)">
                    
                        Playlists
                        
                    </h1>
    
                </li>
    
                <li class="small-6  columns  text-center">
    
                    <h1 class="h6" ng-click="globalAudioPlayer.showTab(1)"> 
                    
                        Catalogue
                        
                    </h1>
    
                </li>
    
            </ul>
    
        </nav>
        
        <div class=" globalAudioPlayer-tab"
               ng-class="{ 'is-active' : globalAudioPlayer.checkIfTabActive(0) }">
    
            <ul class="row">

                <li>
                    
                    <ul class="list--inline">
                        <li>Play</li>

                        <li>Track</li>

                        <li>Release</li>    

                    </ul>
                    
                    <hr>

                </li>

                <li class="small-12 columns" >
                    
                    <ul class="list--inline"
                        ng-click="globalAudioPlayer.playSong(song)"
                        ng-repeat="song in globalAudioPlayer.currentPlaylist track by $index">
                        

                        <li>
                            
                            <svg viewBox="0 0 144 144" 
                                 preserveAspectRatio="xMidYMid meet"  
                                 title="Play Music" 
                                 class="play  icon--controls icon--small">
                        
                                <use xlink:href="assets/images/icon--controls.svg#pause-icon"></use>
                        
                            </svg>

                        </li>

                        <li>
                            
                            {{song.name}}

                        </li>

                        <hr>
                        
                    </ul>
                    
                </li>

            </ul>

        </div>
    
        <div class="globalAudioPlayer-tab"
             ng-class="{ 'is-active' : globalAudioPlayer.checkIfTabActive(1) }">
            
            <div class="row">
    
                <h1 class="text--micro">
                
                    Catalogue
                    
                </h1>    
    
                <div class="small-6 columns" ng-repeat="release in globalAudioPlayer.catalogue">
                    
                    <div ng-click="globalAudioPlayer.playPlaylist(release)">

                        <img ng-src="{{release.artwork}}" alt="Release Artwork" width="50">
                            
                        <h2 class="text-micro">{{release.name}}</h2>
                        
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
    </div>
</div>