<footer class="row center  pb2">

    <div class="small-12 columns">

        <div class="flexParent justifyContent--spaceBetween  pb2 columnOn-small centerOn-Small">
        
          <div class="txt--micro">© <img src="images/logo--sales.svg" alt="SALES Logo" title="SALES"
            height="auto" width="60px" class="mrl1"> 2015
             HOT N READY
          </div>
        
          <div class="section--alt-text txt--micro">Visuals by 
            <a href="http://alanaquestell.com/" target="_blank" title="Alana Questell" class="section--alt-link">Alana Questell</a>  • Code by 
        
            <a href="http://guillermo-casanova.com/" class="section--alt-link" target="_blank" title="Guillermo Casanova">Guillermo Casanova</a> 
          </div>
        
        </div>

    </div>

</footer>