<div>
    
    <!-- Large Navigation --> 
    <nav class="hide-on-small  mainNav  mainNav--large"
         role="navigation"
         data-topbar>
        
         <ul class="[ mt0  pl0 ]  [ flexParent  justifyContent--spaceAround  alignItems--center columnOn-small ] ">
        
              <li class="relative">
        
                  <img src="images/logo--sales.svg" alt="SALES Logo" title="SALES"
                  height="auto" width="260px" class="mainNav-logo relative ">
        
              </li>
        
              <li>
        
                  <a  offset="40" scroll-to="section-ep" class="mainNav-link">
                      NEW EP
                  </a>
        
              </li>
        
              <li>
        
                  <a offset="40" scroll-to="section-videos" class="mainNav-link">
                          VIDEOS
                  </a>
        
              </li>
        
              <li>
        
                  <a offset="40" scroll-to="section-tour" class="mainNav-link">
                      ON TOUR
                  </a>
        
              </li>
        
              <li>
        
                  <a offset="40" scroll-to="section-news" class="mainNav-link">
                      NEWS
                  </a>
        
              </li>
        
              <li>
                  <a href="https://sales.bandcamp.com/merch" target="_blank" class="mainNav-link">
                  STORE
                  </a>
        
              </li> 
        
      </ul>
        
    </nav>
   
    <!-- Small Navigation --> 
    <ss-small-main-nav>
    </ss-small-main-nav>

</div>