<footer class="row center  pb2">

    <div class="small-12 columns">

        <div class="flexParent justifyContent--spaceBetween  pb2 columnOn-small centerOn-Small">
        
          <div class="text--micro">© 

            <svg viewBox="0 0 200 60" class="[ siteInfo-logo logo ]  mr1" title="SALES  logo">

              <use xlink:href="images/logo--sales.svg#sales-logo"></use>

            </svg>

            2015
             HOT N READY
          </div>
        
          <div class="section--alt-text text--micro">Visuals by 
            <a href="http://alanaquestell.com/" target="_blank" title="Alana Questell" class="section--alt-link">Alana Questell</a>  • Code by 
        
            <a href="http://guillermo-casanova.com/" class="section--alt-link" target="_blank" title="Guillermo Casanova">Guillermo Casanova</a> 
          </div>
        
        </div>

    </div>

</footer>