<nav class="mainNav  mainNav--small  hide-on-medium">

    <ul class="ml0 pl3 controls">

        <li class="mainNav-logo">

            <img src="images/logo--sales.svg" alt="SALES Logo" title="SALES" height="auto" width="140px"/>

        </li>

        <li class="mainNav-menuIcon">

            <a ng-click="toggleNav()">
                <img src="images/icon--hamburger.svg" width="30px" height="30px" />
            </a>

        </li>

    </ul>

    <div class="mainNav-menu">

        <ul class="[ mt0 ]  [ flexParent  flexDirection--column  alignItems--left ]" >
        
            <li class="mainNav-item  pb3">
        
              <a href="#/" scroll-to="section-ep" class="mainNav-link ">
                  NEW EP 
              </a>
        
            </li>
        
            <li class="mainNav-item  pb3">
        
              <a href="#/" scroll-to="section-videos" class="mainNav-link">
                  VIDEOS
              </a>
        
            </li>
        
        
            <li class="mainNav-item  pb3">
        
                <a href="#/" scroll-to="section-ep" class="mainNav-link ">
                    NEWS
                </a>
        
            </li>
        
            <li class="mainNav-item  pb3">
        
                <a href="#/" scroll-to="tour-dates" class="mainNav-link ">
                    ON TOUR
                </a>
        
            </li>
        
            <li class="mainNav-item">
        
                <a href="https://sales.bandcamp.com/merch" target="_blank" class="mainNav-link">
                  STORE
                </a>
        
            </li>
        
        </ul>

    </div>

</nav>
