<nav class="mainNav  mainNav--small  hide-on-medium">

    <ul class="ml0 pl3 controls">

        <li >

        <svg viewBox="0 0 200 60" class="mainNav-logo  logo" title="SALES logo">

          <use xlink:href="images/logo--sales.svg#sales-logo"></use>

        </svg>

        </li>

        <li class="mainNav-menuIcon">

            <a ng-click="toggleNav()">
                <img src="images/icon--hamburger.svg" width="30px" height="30px" />
            </a>

        </li>

    </ul>

    <div class="mainNav-menu">

        <ul class="[ mt0 ]  [ flexParent  flexDirection--column  alignItems--left ]" >
        
            <li class="mainNav-item  pb3">
        
              <a  callback-before="toggleNav()"
                   offset="200" 
                   scroll-to="section-ep" 
                   class="mainNav-link ">
                  NEW EP 
              </a>
        
            </li>
        
            <li class="mainNav-item  pb3">
        
              <a  callback-before="toggleNav()"
                  offset="200" 
                  scroll-to="section-videos" 
                  class="mainNav-link">
                  VIDEOS
              </a>
        
            </li>
        
        
            <li class="mainNav-item  pb3">
        
                <a  callback-before="toggleNav()"
                    offset="200" 
                    scroll-to="section-news" 
                    class="mainNav-link ">
                    NEWS
                </a>
        
            </li>
        
            <li class="mainNav-item  pb3">
        
                <a  callback-before="toggleNav()"
                    offset="200" 
                    scroll-to="section-tour" 
                    class="mainNav-link ">
                    ON TOUR
                </a>
        
            </li>
        
            <li  
                  class="mainNav-item">
        
                <a href="https://sales.bandcamp.com/merch" 
                   target="_blank" 
                   class="mainNav-link">
                  STORE
                </a>
        
            </li>
        
        </ul>

    </div>

</nav>
