<div class="row  pb5 "  id="section-videos">

    <div class="center  text-center ">

        <h1 class="text--mega">VIDEOS</h1>  
    
        <div class="small-11  medium-7  large-10  columns small-centered">
            
             <!--Carousel with videos--> 
            <div  carousel-slick  slides="1"  lazyload="ondemand" speed="600" autoplay="false" dots="false">
            
                <div class="small-11 columns">

                    <div class="[ flex-video  widescreen ]  box-shadow1">
                
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/rd0lOQolrr0?modestbranding=1&autohide=1" frameborder="0" allowfullscreen></iframe>

                    </div>

                </div>

                <div class="small-11 columns">

                    <div class="[ flex-video  widescreen ]  box-shadow1">
                        
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nLvlPmK35O0?modestbranding=1&autohide=1" frameborder="0" allowfullscreen></iframe>

                    </div>

                </div>
        
                <div class="small-11 columns">
                    
                    <div class="[ flex-video  widescreen ]  box-shadow1">
            
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pauai_05Vxo?modestbranding=1&autohide=1" frameborder="0" allowfullscreen></iframe>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
