
<section>

    <div class="row">
        
         <div class="small-12 columns"> 

            <h1 class="text--mega text-center  mtb5">PLAY THE TUNES</h1>

        </div>
    
    </div>

    <div class="row">
        
        <div class="small-12 columns  medium-4  small-3  end"
             ng-repeat="release in music.catalogue track by $index">
            
            <a ng-click="music.playPlaylist(release)">

                <img ng-src="{{release.artwork}}" 
                     alt="Release Artwork">
                    
                <h2 class="hide-for-small-up">{{release.name}}</h2>        

            </a>

        </div>

    </div>

</section>