
<div class="row pb4" id="section-tour">

    <div class="small-12 columns"> 

            <h1 class="text--mega text-center mtb5">WE'RE ON TOUR</h1>
    </div>

     <div class="[ small-12  columns ]   pb4  text-center">
            
        <a href="https://www.songkick.com/artists/7225704-sales">

            <button  class="button  button--primary medium fwb">
                Track our upcoming shows 
            </button>

        </a>

    </div>

    <table class="[ small-12 medium-10 columns  small-centered ] table--primary  pb2"  cellpadding="0" cellspacing="0"  class="ng-hide" ng-show="loaded">

        <thead>

            <tr class="hide-on-small">

                <th class="fwb  text-center">
                Dates

                </th>

                <th class="fwb pl4  text-left">
                Location

                </th>

                <th class="fwb  text-left">
                Venue

                </th>

                <th class="fwb  text-center">

                Tickets
                </th>

            </tr>

        </thead>

        <tbody>
            <tr ng-repeat="event in events | limitTo: showsLimit"  class="table-row">
            
                <td class="text-center  date">
                    <span >
                        {{event.start.date | date: "MMM"}}
            
                        {{event.start.date | date: "dd"}}
                    </span>
                    
                </td>
                
                <td class="country">
                        
                    <div class="display--block">
            
                    {{event.location.city}}
            
                    </div>                  
            
                </td>
                
                <td class="venue">
            
                    <div class="display--block"  ng-hide="isNotFestival(event.type)">
                            {{event.displayName}}
                    </div>
            
                    <div>
            
                        {{event.venue.displayName}}
            
                    </div>
            
                </td>
            
                <td class="tickets  text-center">
            
                    <button  ng-click="navigateToTickets(event.uri)"  ng-href="{{event.uri}}" target="_blank" class="button  button--secondary  small  expand-on-small [ display--block    center]">
                       TICKETS
                    </button>
            
                </td>
            
            </tr>

        </tbody>

    </table>

    <div class="small-12 columns"  ng-hide="loaded" ng-show="loading">
            <ss-spinner></ss-spinner>
    </div>

     <div class="[ small-12  columns ]  [ pt2  pb4 ]   text-center" ng-hide="viewingAllShows">
            
        <button  ng-click="showAllShows()"  class="button  button--secondary large fwb">
            View More Upcoming Shows 
        </button>

    </div>

</div>