    
    <div class="row  pb5"  id="section-ep">
    <!--Audio Player--> 
    <ss-audio-player>


    </ss-audio-player>
    
    <div class="small-12 columns">
        
        <!--Purchase Links--> 
        <div class=" alignItems--center flexParent  flexDirection--column  text-center">
            
          <ul class=" [ flexParent  alignItems--center ]  centerContentsVertically">
            
            <li>
        
              <a href="https://sales.bandcamp.com/" target="_blank" class="[ mr1 ]  [ icon--small  icon--bandcamp ]  mainIconAnimation"></a>
        
            </li>
        
            <li>
        
              <a href="https://itunes.apple.com/us/album/sales-ep/id921956424" target="_blank" href="#" class=" [ icon--itunes  icon--small ] mainIconAnimation "></a>
        
            </li>
        
            <li>
        
              <a href="https://play.spotify.com/artist/6vVztIuqdDHvYWxOEXCzjN" target="_blank" class=" [ icon--spotify  icon--small ] mainIconAnimation"></a>
        
            </li>
        
          </ul>
        
        </div>

    </div>

</div>

<ss-video-carousel>
</ss-video-carousel>
    
<ss-blog-posts-carousel>

</ss-blog-posts-carousel>
                
<ss-shows-list>

</ss-shows-list>

<div class="row ptb5">
    
    <div class="small-12 medium-8 large-7 columns  small-centered">

        <div class="flexParent">
        
                <div class="flexGrow--1  pb4  text-center">
                
                    <h1 class="text--mega  mb0">
                      NEWSLETTER SIGN-UP 
                    </h1>
        
                    <p class="par--important fwb  mb3">Receive occasional updates from us!</p>
                    
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                
                    <form action="//bandcamp.us3.list-manage.com/subscribe/post?u=e8796f03ff4f8888edc8f2174&amp;id=246f68cf11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate  alignItems--center  flexParent  justifyContent--center  flexDirection--column " target="_blank" novalidate>
                
                    <input type="email" value="" name="EMAIL" class="email  text-center " id="mce-EMAIL" placeholder="type your email" required>
                
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e8796f03ff4f8888edc8f2174_246f68cf11" tabindex="-1" value=""></div>
                
                    <button type="submit" value="SUBMIT" name="SUBMIT" id="mc-embedded-subscribe" class="[ button  button--action  button--newsletter expanded ] [ mt2 ]">SUBMIT</button>
                    </form>
                
                </div>
        </div>

    </div>

</div>


<div class="row  ptb5">
   
    <h1 class="text--mega  mb3  text-center">SAY HELLO</h1>

        <div class="flexParent   columnOn-small  justifyContent--center  text-center">
            
                <div class="flexGrow--1  pb4">

                    <h2>
                    GENERAL
                    </h2>
                                        
                    <a href="mailto:wearenotsales@gmail.com" class=" h5 fwb">wearenotsales@gmail.com</a>

                </div>
            
                <div class="flexGrow--1  pb4">

                    <h2>BOOKING</h2>
                                        
                    <ul class="pl0">
                    
                        <li class="mb2">
                            <a href="mailto:joanlee@theagencygroup" class=" h5 fwb">joanlee@theagencygroup.com (US/Canada)</a>
                        </li>
                    
                        <li>
                            <a href="mailto:guillaume@bfosbooking.com" class="h5 fwb">guillaume@bfosbooking.com  (EU)</a>
                        </li>
                    
                    </ul>

                </div>

                <div class="flexGrow--1  pb4">

                    <h2>LICENSING/PUBLISHING</h2>
                
                    <a href="mailto:ddelshad@angrymobmusic.com" class=" h5  fwb ">ddelshad@angrymobmusic.com</a>

                </div>
            

        </div>

</div>


<!--Foundation interchange/reflow script for album artworks--> 
<script>
    

$(document).foundation('interchange', 'reflow');

</script>
