
/*------------------------------------*\
    #Colors 
\*------------------------------------*/

//Whites
$offWhite: #F1F2F2; 





/*------------------------------------*\
    #Blacks & Greys 
\*------------------------------------*/


$offBlack: #2E2D31;
$grey--light: #f5f5f5;
$grey--mid: #dfdfdf;
$grey--dark: #666;





/*------------------------------------*\
    #Colors 
\*------------------------------------*/

$blue: #4ebfd7;
$green: #b9d362;
$orange: #f5a540;
$purple: #8568b1;
$pink: #f40878;
$red: #e0274f;
$yellow: #F8DE65;

//$green--bigSis: #648975; 

$blue--dark: #465881;




/*------------------------------------*\
    #Social Media Logo Colors 
\*------------------------------------*/

$blue--twitter: #55ACEE;
$blue--facebook: #3b5998;
$blue--vimeo: #1ab7ea; 
