
/*------------------------------------*\
    #Icons 
\*------------------------------------*/

@import "typography.scss";

//Arrows 
$icon--arrowup: "../images/icon--arrowUp.svg";

//Social Media 
$icon--socialMedia: "../images/icons--socialMedia.svg";

//Purchase icons
$icons--stores: "../images/icons--stores.svg";


@mixin icon($icon: false) {
  background-image: url($icon);
  background-repeat: no-repeat; 

    &:hover,
    &:active,
    &:focus {
        background-color: transparent; 
    }

  @content; 
}


%noIcon {
    background-image: none; 
}

