
/*------------------------------------*\
    #Audio Player  
\*------------------------------------*/


.player {
    max-width: 600px; 
}


.audioPlayer-button,
.slick-slider button  {
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain; 
    background-color: transparent; 
    cursor: pointer; 
    outline: 0; 

    &:active {
        outline: 0; 
    }
}


.next {
   @extend %icon--arrowRight; 
    width: rem-calc(60);
    height: rem-calc(60);
    //Flips arrow to prevent doing another http request to image
    @include single-transition(all, .2s, ease-in-out);

    &.is-showing {
        opacity: 1; 
         left: 0; 
         @include transform(translateX(8px) rotateY(180deg));
    }

    &.is-hidden {
        opacity: 0; 
        @include transform(translateX(-8px) rotateY(180deg));
    }

}


.prev {
    @extend %icon--arrowLeft; 
    width: rem-calc(60);
    height: rem-calc(60);
        @include single-transition(all, .2s, ease-in-out);


    &.is-showing {
        opacity: 1; 
        @include transform(translateX(-8px));
    }

    &.is-hidden {
        opacity: 0; 
        @include transform(translateX(8px));
    }

}


.pause,
.play {

    width: rem-calc(70);
    height: rem-calc(70);
    @extend %secondaryAnimation; 

}


.pause {
    .icon--controls.play {
        display: none; 
    }
}

.play {
    .icon--controls.pause {
        display: none; 
    }
}