
/*------------------------------------*\
    #Audio Player  
\*------------------------------------*/


.player {
    max-width: 600px; 
}


.audioPlayer-button,
.slick-slider button  {
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain; 
    background-color: transparent; 
    cursor: pointer; 
    outline: 0; 

    &:active {
        outline: 0; 
    }
}






/*------------------------------------*\
    #Next and Previous Seeking buttons  
\*------------------------------------*/


.next {

    @include single-transition(all, .3s, ease-in-out);

    &.is-showing {
         opacity: 1; 
         left: 0; 
         @include transform(translateX(8px));
    }

    &.is-hidden {
        opacity: 0; 
        @include transform(translateX(-8px));
    }

}


.prev {

    @include single-transition(all, .3s, ease-in-out);


    &.is-showing {
        opacity: 1; 
        @include transform(translateX(0));
    }

    &.is-hidden {
        opacity: 0; 
        @include transform(translateX(8px));
    }

}


.seeker {
    width: rem-calc(60);
    height: rem-calc(60);
    @extend %secondaryAnimation; 
}





/*------------------------------------*\
    #Pause and play buttons 
\*------------------------------------*/


.pause,
.play {

    width: rem-calc(70);
    height: rem-calc(70);
    @extend %secondaryAnimation; 

}


//These hide/show the play/pause button depending if music is playing or not
.pause {
    .icon--controls.play {
        display: none; 
    }
}

.play {
    .icon--controls.pause {
        display: none; 
    }
}
