
/*------------------------------------*\
    #Base 
\*------------------------------------*/

@import "compass";
@import "modules/all";
@import "foundation/functions";


$normal: 400;
$bold: 600;
$extra-bold: 700;


$weight--normal: 400;
$weight--bold: 600;
$weight--extra-bold: 700;


// $base-font-family: 'Helvetica', Arial, Sans-Serif; 
// $base-font-weight: $normal;
// $base-font-color: #fff; 

body {
    color: #fff; 
    background-color: #000; 
	// font-family: $customFont;

}


/*------------------------------------*\
    #hn Sizes 
\*------------------------------------*/


/*
** Hn sizes .hn classes defined by placeholders from typography.scss module 
*/

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
    font-family: $customFont;
    font-weight: $bold;
    color: $offWhite;  
}

h1, 
.h1 { 
    @extend %h1; 
}

h2, 
.h2 { 
    @extend %h2; 
}

h3, 
.h3 { 
    @extend %h3; 
}

h4, 
.h4 { 
    @extend %h4; 
}

h5, 
.h5 { 
    @extend %h5; 
}

h6, 
.h6 { 
    @extend %h6; 
}



//Text Bigger Than Headers 

.txt--mega { 
    @extend %text--mega; 
}



//Samllest Text 
.txt--micro { 
    @extend %text--micro; 
}
