
/*------------------------------------*\
    #Base 
\*------------------------------------*/

$normal: 400;
$bold: 600;
$extra-bold: 700;


$weight--normal: 400;
$weight--bold: 600;
$weight--extra-bold: 700;



body { 
    background-color: #000; 
    @extend %text--white; 
}

