
/*------------------------------------*\
    #Buttons
\*------------------------------------*/

button {

  border: 0; 

  &:hover {
    cursor: pointer; 
  }

  
}

.button {
  font-weight: bold; 
  @include border-radius(6px);
  @include single-transition(all, .3s, ease-in-out); 
}

.button--primary {
  background-color: #fff; 
  color: $offBlack; 
  @include box-shadow(rgba(darken(#fff, 60%), 1) 0 2px 0);
 
  &:hover {
    top: 2px; 
    color: $offBlack; 
    background-color: darken(#fff, 6%);
    @include box-shadow(rgba(darken(#fff, 60%), 1) 0 1px 0);
    @extend %relative; 

  }
}

.button--secondary {
    border: 2px solid #fff; 
    background-color: transparent; 
    @extend %text--white; 
    @include border-radius(40px);


    &:hover {
        color: #191919; 
        background-color: #fff; 
    }
}





/*------------------------------------*\
    #Special Buttons
\*------------------------------------*/


.button--newsletter {
    min-width: rem-calc(250);
    width: 80%; 
    height: rem-calc(60);
    padding: rem-calc(14);
    font-size: rem-calc(18); 
}


.button--goUp {

  width: 50px; 
  height: 50px;
  background-color: transparent; 
  right: 10px; 
  bottom: -200px; 
  @include single-transition(bottom, .3s, cubic-bezier(.6,.32,1,.65));
  @extend %fixed; 
  
  &:hover {
    background-color: transparent; 
  }

  .is-showing {
    bottom: 30px;
  }

}






/*------------------------------------*\
    #Button Sizes
\*------------------------------------*/

.small {

  padding: rem-calc(10);
  padding-right: rem-calc(20);
  padding-left: rem-calc(20);

}

.medium {
  padding: rem-calc(16);
  padding-right: rem-calc(32);
  padding-left: rem-calc(32);
}

.large {
  font-size: rem-calc(16); 
  padding: rem-calc(18);
  padding-right: rem-calc(36);
  padding-left: rem-calc(36); 
}

// $button-tny: rem-calc(10);
// $button-sml: rem-calc(14);
// $button-med: rem-calc(16);
// $button-lrg: rem-calc(18);
