
/*------------------------------------*\
    #Forms
\*------------------------------------*/


input {
    font-size: rem-calc(18); 
    background-color: transparent; 
    box-shadow: none; 
    height: rem-calc(60);
    padding: rem-calc(14);
    outline: none;
    border: 2px solid white; 
    width: auto; 
    min-width: rem-calc(250);
    width: 80%; 
    @extend %text--white; 
    @include border-radius(10px); 

    @media #{$medium-up} {

        font-size: rem-calc(30); 
    }

    &:focus {
        outline: none; 
        border: 2px solid white; 
        box-shadow: none; 
        background-color: transparent; 
    }
}