
/*------------------------------------*\
    #Icons
\*------------------------------------*/





/*------------------------------------*\
    #Directions
\*------------------------------------*/


[rel*="prev"] {
 @extend %icon--arrowLeft; 
}

[rel*="next"] {
  @extend %icon--arrowRight; 
}


[rel*="up"] {
  @include icon($icon--arrowup) {
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
}






/*------------------------------------*\
    #Social Media Icons
\*------------------------------------*/


a[href*="twitter"],
.icon--twitter {
  @include icon($icon--socialMedia) {
    background-position: 0 -6em; 
  }
}


a[href*="facebook"],
.icon--facebook {
  @include icon($icon--socialMedia) {
    background-position: 0 -12em; 
  }
}

a[href*="soundcloud"],
.icon--soundcloud {
  @include icon($icon--socialMedia);
}

a[href*="youtube"],
.icon--youtube {
  @include icon($icon--socialMedia) {
    background-position: 0 -18em; 
  }
}

a[href*="instagram"],
.icon--instagram {
  @include icon($icon--socialMedia) {
    background-position: 0 -24em; 
  }
}





/*------------------------------------*\
    #Stores Icons
\*------------------------------------*/


.icon--itunes {
  @include icon($icons--stores) {
    background-position: 0 -6em; 
  }

  &.icon--small {
    @include icon($icons--stores) {
    background-position: 0 -3em; 
    }  
  }
}

.icon--bandcamp {
  @include icon($icons--stores) {
    background-position: 0 -12em; 
  }

  &.icon--small {
    @include icon($icons--stores) {
    background-position: 0 -6em; 
    }  
  }
}

.icon--spotify {
  @include icon($icons--stores) {
    background-position: 0 0;
  }
}






/*------------------------------------*\
    #Icon-Sizes
\*------------------------------------*/

.icon--large {
  background-size: 12em auto; 
  padding: 6em;
  display: inline-block;  
}

.icon--medium {
  background-size: 6em auto; 
  padding: 3em;
  display: inline-block;  
}

.icon--small {
  background-size: 3em auto; 
  padding: 1.5em;
  display: inline-block;  
}


