
/*------------------------------------*\
    #Modals
\*------------------------------------*/


.reveal-modal {
    @include border-radius(20px); 
    
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6, 
    p,
    .reveal-modal-body {
        color: #191919; 

        a { 
            color: $offBlack; 
            @extend %noIcon; 
        }
    
    }

    .reveal-modal-title {
        @extend %mt2; 
    }

    img {
        @extend %mb3; 
    }

}




/*------------------------------------*\
    #Themed Modals 
\*------------------------------------*/

.theme-chinese-new-year {

    .reveal-modal {

         a{
            color: $red; 
        }       
    }
}

.theme-sales-renee {
    .reveal-modal {
        a{
            color: $green; 
        }  
    }
}

.theme-vow {
    .reveal-modal {
        a{
            color: $orange; 
        }  
    }
}

.theme-toto {
    .reveal-modal {
        a{
            color: $purple; 
        }  
    }
}


.theme-toto-xxyyxx-remix,
.getting-it-on {
    .reveal-modal {
        a{
            color: $offBlack; 
        }  
    }
}






