
/*------------------------------------*\
    #Navigation
\*------------------------------------*/

.mainNav {
    background: transparent;
    z-index: 700; 
    overflow: visible; 
}


.mainNav-logo {
    fill: #fff;
    width: rem-calc(260px);
    @extend %display--inlineBlock; 
}

.mainNav-link {
    font-family: $customFont; 
    @extend %h2;    
    @extend %mr1; 
    //Needed so hover scale transform pesists 
    @extend %display--block; 
    @include single-transition(all, 0.3s, cubic-bezier(.39, 1.05, .23, 1.26));
    @include transform(scale(1)); 

    &:hover,
    &:active {
        @include transform(scale(1.1)); 
    }
}





/*------------------------------------*\
    #Main Navigation Large 
\*------------------------------------*/


.mainNav--large {
    height: rem-calc(80); 
    @extend %ptb2;  
    @extend %relative; 

    .fixed & {
        height: rem-calc(60); 
        z-index: 700; 
    }

    .mainNav-logo {
        width: rem-calc(200px);
        @include single-transition(all, 0.3s, cubic-bezier(.39, 1.05, .23, 1.26));

    }
}





/*------------------------------------*\
    #Main Navigation Small 
\*------------------------------------*/


.mainNav--small {
    
    @extend %relative;  

    .controls {
        width: 100%;
        @extend %display--block;  
        @extend %relative;  
        @extend %pt1; 
    }
    
    .mainNav-logo {
        width: rem-calc(160px);
        @extend %left;
        @extend %mt1;  
    }

    .mainNav-menuIcon {
        text-align: right; 
        @extend %mr3; 
        @extend %mt2; 
    }

    .mainNav-menu {
        overflow: hidden;
        height: 0; 
        opacity: 0; 
        @include single-transition(all, 0.3s, ease-in-out);
        @extend %display--block;  
        @extend %left; 
        @extend %mt3; 
        @extend %relative; 

        &.is-showing {
             height: 17.5rem; 
             opacity: 1; 
        }
    }

}
