        
/*------------------------------------*\
    #Page Themes (Extends from _typography.scss and uses mixins from _themes.scss)
\*------------------------------------*/


.pageTheme-pageWrap {
    z-index: 90;
    position: relative;
}


// Changes color of text, svg logos/icons, and table borders  to $offBlack since
// Big Sis theme background is too ight for white text
.theme-big-sis {
    color: $blue--dark; 

    .logo,
    .icon--controls, 
    a {
        // Colors svg files  through fill property and links
        fill:  $blue--dark;
        color: $blue--dark; 
    }

    a {
        &:hover {
            background-color: $blue--dark; 
            @extend %text--white; 
        }
    }
    
    // Styles for mainNav under big-sis theme 
    .mainNav-link {
        &:hover {
            color: $blue--dark; 
        }
    }
    
    // Styles for buttons under big-sis theme
    .button--primary {
        background-color: lighten($blue--dark, 6%); 
        @extend %text--white; 

        &:hover {
            background-color: darken($blue--dark, 6%);
            @extend %text--white; 
        }
    }

    .button--secondary {
        border: 2px solid $blue--dark; 
        color: $blue--dark; 

        &:hover {
            background-color: $blue--dark; 
            @extend %text--white; 
        }
    }
    
    // Styles for table under big-sis theme 
    .table--primary {

        .table-row {

            &:hover {

                @media #{$medium-up} {
                    background: rgba(30, 30, 30, .1);
                }

            }

            td {    


                @media #{$medium-up} {
                    border-top: 1px solid $blue--dark;  

                }

            }  
        }

    }

    input,
    input:focus {
        color: $blue--dark; 
        border: 2px solid $blue--dark;
        
    }

}


.theme-lp {

    color: $offBlack; 

    .logo,
    .icon--controls, 
    a {
        // Colors svg files  through fill property and links
        fill:  $offBlack;
        color: $offBlack; 
    }

    a {
        &:hover {
            background-color: $offBlack; 
            @extend %text--white; 
        }
    }
    
    // Styles for mainNav under big-sis theme 
    .mainNav-link {
        &:hover {
            color: $offBlack; 
        }
    }
    
    // Styles for buttons under big-sis theme
    .button--primary {
        background-color: lighten($offBlack, 6%); 
        @extend %text--white; 

        &:hover {
            background-color: darken($offBlack, 6%);
            @extend %text--white; 
        }
    }

    .button--secondary {
        border: 2px solid $offBlack; 
        color: $offBlack; 

        &:hover {
            background-color: $offBlack; 
            @extend %text--white; 
        }
    }
    
    // Styles for table under big-sis theme 
    .table--primary {

        .table-row {

            &:hover {

                @media #{$medium-up} {
                    background: rgba(30, 30, 30, .1);
                }

            }

            td {    


                @media #{$medium-up} {
                    border-top: 1px solid $offBlack;  

                }

            }  
        }

    }

    input,
    input:focus {
        color: $offBlack; 
        border: 2px solid $offBlack;
        
    }


}





/*------------------------------------*\
    #Backgrounds (Extends from _theme.scss)  
\*------------------------------------*/


.theme-background {

    top: 0; left: 0; right: 0; bottom: 0;
    @include single-transition(all, .3s, ease-in-out);
    @extend %fixed;
    @extend %theme-backgrounds;
     
}






/*------------------------------------*\
    #Artworks  (Includes from _theme.scss)
\*------------------------------------*/


.theme-artworkContainer {
    //Fallback for Safari needing a height/width on container
    width: rem-calc(250px);
    height: rem-calc(200px); 
    @media #{$medium-up} {
        height: rem-calc(450px);
        width: rem-calc(450px);
    }
    @extend %mtb2;

}


.theme-artwork {

    background-size: contain;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0; 
    @extend %absolute; 
    @include single-transition(all, .3s, ease-in-out);

    &.is-showing {
        z-index: 80;
        opacity: 1; 
    }

    &.is-next {
        z-index: 70;
    }


    &.getting-it-on {
        @include themeArtwork('getting-it-on'); 
    }

    &.sales-renee {
         @include themeArtwork('sales-renee'); 
    }

    &.vow {
        @include themeArtwork('vow'); 
    }

    &.chinese-new-year {
       @include themeArtwork('chinese-new-year');
    }

    &.toto,
    &.toto-xxyyxx-remix {
        @include themeArtwork('toto');
    }

    &.big-sis {
        @include themeArtwork('big-sis');
    }

    &.jamz {
        @include themeArtwork('jamz'); 
    }

    &.ivy {
        @include themeArtwork('ivy'); 
    }

    &.lp {

        @include themeArtwork('lp'); 
    }

}


