    
/*------------------------------------*\
    #Page Themes 
\*------------------------------------*/
//Uses mixins from themes module 

.pageTheme-pageWrap {
    z-index: 90;
    position: relative;
}

.theme-background {

    top: 0; left: 0; right: 0; bottom: 0;
    @include single-transition(all, .3s, ease-in-out);
    @extend %fixed;
    @extend %theme-backgrounds;
     
}

.theme-artworkContainer {
    //Fallback for Safari needing a height/width on container
    width: rem-calc(250px);
    height: rem-calc(200px); 
    @media #{$medium-up} {
        height: rem-calc(450px);
        width: rem-calc(450px);
    }
    //
    @extend %mtb2;

}


.theme-artwork {

    background-size: contain;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center; 
    background-repeat: no-repeat;
    @include single-transition(all, .3s, ease-in-out);
    opacity: 0; 

    &.is-showing {
        z-index: 80;
        opacity: 1; 
    }

    &.is-next {
        z-index: 70;
    }


    &.getting-it-on {
        @include themeArtwork('getting-it-on'); 
    }

    &.sales-renee {
         @include themeArtwork('sales-renee'); 
    }

    &.vow {
        @include themeArtwork('vow'); 
    }

    &.chinese-new-year {
       @include themeArtwork('chinese-new-year');
    }

    &.toto,
    &.toto-xxyyxx-remix {
        @include themeArtwork('toto');
    }


}



